<div id="footer">
    <div class="row no-margin">
        <div class="col-lg-4 col-sm-4"></div>
        <div class="col-lg-4 col-sm-4">
            <div class="row row2">
                <div class="col-lg-4 col-sm-4 center fb">
                    <img  class="social-media-icons" src="https://image.flaticon.com/icons/svg/174/174848.svg">
                </div>
                <div class="col-lg-4 col-sm-4 center">
                    <div class="container container-logo">
                        <img src="https://i.imgur.com/PMGefHZ.png" class="logo-footer"></img>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 center insta">
                    <img class="social-media-icons" src="https://image.flaticon.com/icons/svg/174/174855.svg">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4"></div>
    </div>
    <p id="copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Clínica Rogério Antunes ® | Made with <i class="fa fa-heart"></i> </p>
</div>
    </body>
</html>