<div id="footer">
    <div class="container">
        <img  class="social-media-icons" src="https://image.flaticon.com/icons/svg/174/174848.svg">
        <img class="social-media-icons" src="https://image.flaticon.com/icons/svg/174/174855.svg">
    </div>
    <div class="container container-logo">
        <img src="https://i.imgur.com/PMGefHZ.png" class="logo-footer"></img>
    </div>
    <p id="copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Clínica Rogério Antunes ®</p>
</div>
    </body>
</html>