<footer>
    <div id="foot">
        <div class="social">
            <h3 class="h3-foot">Acompanhe nossas redes sociais!</h3>
            <a class="fb social" href="fb da clinica">
                <img  src="/images/fb.svg">
            </a>
            <a class="insta social" href="insta clinca">
                <img src="/images/insta.svg">
            </a>
        </div>
        <div class="contato">
            <div class="container">
                <h3 class="h3-foot">Contate-nos</h3>
                <div class=row>
                   <form action="/message" method="POST">
                       <div class="form-group">
                           <label for="name">Nome</label> <br>
                           <input class="text" type="text" placeholder="Digite seu nome" name="nome">
                           <br>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label> <br>
                            <input class="text" type="text" placeholder="Digite seu email" name="email">
                            <br>
                        </div>
                        <div class="form-group">
                            <label for="message">Mensagem</label> <br>
                            <textarea class="message" type="text" placeholder="Digite sua mensagem" name="mensagem"></textarea><br>
                        </div>
                        <div class="container">
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary btn-block">Enviar!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                 <div class="enderecos">
             <p id="contato">Contato</p>
             <div class="row">
                 <div class="col-lg-3">
                     <p class="unidades">BOA VIAGEM</p>
                     <p class="address">Rua Almirante Batista Leão, 169.</p>
                     <p class="number">Telefones: (81) 3342.3800 / (81) 9.9726.0246</p>
                 </div>
                 <div class="col-lg-3">
                     <p class="unidades">TORREÃO</p>
                     <p class="address">Rua Djalma Farias, 251.</p>
                     <p class="number">Telefones: (81) 3426.2744 / (81) 3427.0687 / (81) 9.8112.2221</p>
                 </div>
             </div>
         </div>
         <div class="copyright"><p id="#copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Clínica Rogério Antunes ® | Made with <i class="fa fa-heart"></i> </p></div>
    </div>
</footer>
    </body>
</html>