<% include partials/header %>
<h1>Cadastre-se</h1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="email" placeholder="email" name="email">
    <input type="password" placeholder="password" name="password">
    <button>Cadastre-me</button>
</form>
<% include partials/footer %>